<!DOCTYPE html>
<html lang= "en">
  <head>
<meta charset="UTF-8"
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Monitoring Reliable App</title>
  <style>
body {
   font-family: cursive;
   max-width: 850px;
   margin: 45px auto;
   padding: 0 25px;
   line-height: 1.6;
}
  </style>
</head>  
<body>
  <h1>Welcome to Unique Monitoring App</h1>
 <p>Status: <strong>{{ system_data.status }}</strong></p>
 <p>Uptime: <strong>{{ system_data.status }}</strong></p>
</body>   
</html>













